body {
    background-color: antiquewhite;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;
    justify-content: space-around;
}

ul>li {
    flex-direction: row;
}

h1 {
    text-align: center;
}