<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>

<body>
<div th:include="fragments/navbar :: navbar"></div>

<h1>Create a post:</h1>

<form th:action="@{/posts/create}" th:method="POST" th:object="${post}" enctype="multipart/form-data">

    <label for="title"><h4>Title</h4></label>
    <input th:field="*{title}" id="title" />
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />

    <lable for="body"><h4>Body</h4></lable>
    <input th:field="*{body}" id="body" />
    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />

    <label for="file">Upload an image!</label>
    <input id="file" name="image_file" type="file" />

    <input type="submit" />


</form>

</body>
</html>