<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:include="fragments/navbar :: navbar"></div>

    <!-- AuthenticationController -->
    <div class="container">
        <div class="row">
            <h1>Register</h1>
        </div>
        <form th:action="@{/users/register}" th:method="POST" th:object="${user}">
            <label for="username">Username</label>
            <input class="form-control" id="username" name="username" th:field="*{username}" />
            <p th:if="${#fields.hasErrors('username')}" th:error="*{username}" />

            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" th:field="*{email}" />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />

            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" th:field="*{password}" />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />

            <label for="password_confirm">Confirm Password</label>
            <input type="password" class="form-control" name="password_confirm" id="password_confirm" />

            <input class="btn btn-primary" type="submit" />
        </form>
    </div>
</body>
</html>